<header>
  <div class="container">
    <a href="#" class="logo" routerLink="/">Recipe Cost Control</a>
    <nav>
      <ul>
        <li>
          <a href="#" routerLink="/ingredients">Ingredients</a>
        </li>
        <li>
          <a href="#" routerLink="/packaging">Packaging</a>
        </li>
        <li>
          <a href="#" routerLink="/recipes">Recipes</a>
        </li>
        <li>
          <a href="#" routerLink="/products">Products</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
